*{
    box-sizing: border-box;
}

/* proprietà header della pagina con immagine e titolo */
.headerImg{
    background-color: rgb(78, 160, 255);
    background-image: url("../img/pattern.png");
    height: 150px;
    padding-left: 20px;
}

#logo{
    width: 250px;
    margin-top: 70px;
}

h1{
    margin-bottom: 0;
}

.produzione{
    color: grey;
}

#testoLogo{
    color: rgb(32, 169, 229);
}

/* proprietà corpo main della pagina */
main{
    margin-top: 20px;
}

.infoImg{
    font-size: 12px;
}

.testoEvidenziato{
    background-color: yellow;
}

/* proprietà della table */
table{
    border-spacing: 0;
}

th{
    text-align: left;
}

.primaColonna, .secondaColonna{
    width: 20%;
}

.terzaColonna{
    width: 60%;
}

.rigaHead{
    background-color: rgb(32, 169, 229);
    color: white;
}

.rigaBodyCeleste{
    background-color: rgb(177, 229, 242);
}