*{
    box-sizing: border-box;
}

.headerImg{
    background-color: rgb(78, 160, 255);
    background-image: url("img/pattern.png");
    height: 150px;
    padding-left: 20px;
}

#logo{
    width: 250px;
    margin-top: 70px;
}

h1{
    margin-bottom: 0;
}

.produzione{
    color: grey;
}

#testoLogo{
    color: rgb(32, 169, 229);
}